
*{ 
    padding: 0;
    margin: 0;
}
.aaa1{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
    color: blue;
   
}
.d1{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: -370px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d2{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d3{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d4{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d5{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d6{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d7{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d8{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d9{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d10{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d11{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
} .d12{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
} .d13{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d14{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d15{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d16{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d17{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d18{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d19{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}    .d20{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d21{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d22{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d23{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d24{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.d25{
    width: 800px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: #141212 2px 2px 2px 2px;
}
.im1{
    width: 180px;
    height: 260px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.p1{
    margin-left: 66px;
    text-decoration: none;
    color:#141212;
    font-weight: 600;
}

.h2{
    color:#141212;
    margin-left: 230px;
    margin-top: -340px;
}
.p2{
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
}
.janr{
    font-size: 16px;
    font-weight: 200;
    height: 30px;
    width: 78px;
    margin-top: 20px;
    border: 2px solid #22528B;
    border-radius: 5px;
    text-align: center;
}
.janrin{
    margin-top: 5px;
}
.text{
   
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: #22528B;
}
.button{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
}
.footer{
    margin-left: -400px;
}